.title {
    color: rgb(4, 119, 191);
    margin-left: 10px;
  }
  .el-header {
      background-color: rgb(214, 233, 253);
      display: flex;
      justify-content: space-between;
      padding-left: 0px;
      align-items: center;
      color: #fff;
      font-size: 20px;

  }

  .el-header>div {
      display: flex;
      align-items: center;

  }

  .el-header>div>span {
      margin-left: 5px;
  }